@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@media (min-width: 320px) {
  body #nosotros .contenedor-titulo {
    width: 330px;
    top: 25px; }
    body #nosotros .contenedor-titulo h2 {
      font-size: 1.5rem; }
  body #nosotros .historia {
    padding: 0.9rem;
    font-size: 0.85rem;
    width: 90%; } }

#servicio-1 img {
  width: 60px; }

#servicio-1 h4 {
  font-size: 1.5rem; }

#servicio-2 img {
  width: 60px; }

#servicio-2 h4 {
  font-size: 1.5rem; }

#servicio-3 img {
  width: 60px; }

#servicio-3 h4 {
  font-size: 1.5rem; }

#card-1 {
  margin: 2rem;
  padding: 2rem;
  background-color: #62455B;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  color: #ffffff;
  border: 0 !important; }

#card-2 {
  margin: 2rem;
  padding: 2rem;
  background-color: #62455B;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  color: #ffffff;
  border: 0 !important; }

#card-3 {
  margin: 2rem;
  padding: 2rem;
  background-color: #62455B;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  color: #ffffff;
  border: 0 !important; }

#card-4 {
  margin: 2rem;
  padding: 2rem;
  background-color: #62455B;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  color: #ffffff;
  border: 0 !important; }

#card-5 {
  margin: 2rem;
  padding: 2rem;
  background-color: #62455B;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  color: #ffffff;
  border: 0 !important; }

#card-6 {
  margin: 2rem;
  padding: 2rem;
  background-color: #62455B;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  color: #ffffff;
  border: 0 !important; }

header {
  width: 100%;
  grid-area: header; }
  header .bg-dark {
    background-color: #141827 !important; }

/* MENÚ DE NAVEGACIÓN */
.menu-nav {
  text-align: center; }

.menu-nav .lista-nav li a {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; }

.navbar-collapse ul li.nav-item {
  list-style-type: none;
  letter-spacing: 1px; }
  .navbar-collapse ul li.nav-item a {
    text-decoration: none;
    letter-spacing: 1px; }
  .navbar-collapse ul li.nav-item:hover, .navbar-collapse ul li.nav-item:active {
    text-decoration: none !important; }

button .navbar-toggler-icon {
  background-image: url("../assets/img/icono-menu.png") !important; }

.logo-header {
  width: 100px;
  height: 100px;
  border-radius: 100px; }

@media screen and (min-width: 768px) {
  .logo-header {
    width: 120px;
    height: 120px; } }

@media screen and (min-width: 992px) {
  .logo-header {
    width: 125px;
    height: 125px; } }

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .navbar-collapse ul li.nav-item a {
    letter-spacing: 0px !important; } }

footer {
  background-color: #141827 !important; }

#footer-contacto {
  width: 100%;
  grid-area: footer; }

.logo-footer {
  width: 100px;
  height: 100px;
  border-radius: 100px; }

.derechos-autor {
  border-top: 1px solid #ffffff !important;
  text-align: center; }
  .derechos-autor p {
    margin: 1rem 0;
    font-size: .9rem; }

#main-inicio {
  width: 100%;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.2fr 0.5fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "video" "divisor" "nosotros" "servicios" "divisor2" "carrusel"; }

/* ARMADO DE GRID PARA EL MAIN */
#video {
  width: 100%;
  grid-area: video; }

#divisor {
  width: 100%;
  grid-area: divisor; }

#nosotros {
  width: 100%;
  grid-area: nosotros; }

#servicios {
  width: 100%;
  grid-area: servicios; }

#divisor-2 {
  width: 100%;
  grid-area: divisor2; }

#carrusel {
  grid-area: carrusel; }

/* IMAGENES E ÍCONOS */
.servicios article img {
  width: 100px; }

.carrusel img {
  width: 100px;
  border-radius: 50%; }

.calificacion img {
  width: 20px; }

/* VIDEO */
.video {
  height: calc(100vh - 70px); }

.video video {
  width: 100%;
  z-index: -1;
  height: calc(100vh - 70px);
  object-fit: cover; }

/********** PÁGINAS (INICIO E INTERNAS) ********/
#nosotros {
  background-image: url("../assets/img/banner-nosotros.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh; }

#servicios {
  background-color: #C1D9D0;
  padding: 2rem; }

.icono-servicio {
  width: 65px; }

.contenedor-titulo {
  background-color: #62455B;
  width: 300px;
  top: 30px;
  left: 0;
  padding: 0.5rem 0;
  border-bottom-right-radius: 1rem; }

.historia {
  background-color: #0f10175c;
  backdrop-filter: blur(20px); }

#carrusel {
  width: 100%;
  text-align: center; }

#carrusel h2 {
  margin-bottom: 2rem; }

.clientes {
  margin: 0.5rem auto; }
  .clientes img {
    border-radius: 50%;
    width: 120px !important; }

.card-body .valoracion {
  margin-bottom: 1rem; }
  .card-body .valoracion img {
    width: 30px !important; }

@media screen and (min-width: 992px) {
  #main-inicio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "video video video" "divisor divisor divisor" "nosotros nosotros nosotros" "servicios servicios servicios" "divisor2 divisor2 divisor2" "carrusel carrusel carrusel"; }
  #nosotros #historia-resto {
    padding: 2.5rem;
    font-size: 1rem;
    width: 65%; } }

@media screen and (min-width: 1024px) {
  #nosotros #historia-resto {
    padding: 1.8rem;
    font-size: 1rem;
    width: 70%; } }

#pills-tab .nav-item {
  border: 2px solid #141827; }
  #pills-tab .nav-item .nav-link {
    color: #141827 !important;
    background-color: #ffffff; }
    #pills-tab .nav-item .nav-link.active {
      background-color: #141827;
      color: #ffffff !important;
      width: 10ch;
      border-radius: 0 !important; }

#menu-mundial {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.1fr 1fr;
  grid-template-areas: "banner-menu" "linea-divisoria" "menu-paises"; }

#banner-menu {
  width: 100%;
  grid-area: banner-menu; }
  #banner-menu .bg-menu {
    background-image: url("../assets/img/banner-menu.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 70px); }

#linea-divisoria {
  width: 100%;
  grid-area: linea-divisoria; }

#menu-paises {
  width: 100%;
  grid-area: menu-paises; }

.card-menu {
  background-color: rgba(255, 0, 0, 0.05);
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
  position: relative;
  transition: all 1s ease;
  width: 240px;
  height: 480px; }

.bg-carta-menu {
  background-image: url("../assets/img/carta-menu.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.tarjeta-invertida {
  height: 480px;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 240px;
  z-index: 100; }

.tarjeta-invertida > * {
  visibility: visible; }

/* Contenedor de la tarjeta invertida. */
.contenedor-tarjeta-invertida {
  height: 100%;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%; }

.tarjeta-frente,
.tarjeta-dorso {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

/* ALEMANIA */
.card-alemania {
  background-image: url("../assets/img/alemania.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/* FRANCIA */
.card-francia {
  background-image: url("../assets/img/francia.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/* JAPÓN */
.card-japon {
  background-image: url("../assets/img/japon.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/* MÉXICO */
.card-mexico {
  background-image: url("../assets/img/mexico.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/* ARGENTINA */
.card-argentina {
  background-image: url("../assets/img/argentina.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/* ESPAÑA */
.card-espania {
  background-image: url("../assets/img/espania.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 20%; }

/* ITALIA */
.card-italia {
  background-image: url("../assets/img/italia.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-x: 20%; }

/* ESTILOS PARA EL FRENTE DE LA TARJETA */
/* CONTENEDOR DE LA CARA FRONTAL DE LA TARJETA */
.tarjeta-frente {
  background-color: #fafbfa;
  height: 480px;
  width: 240px; }

.tarjeta-frente-top {
  height: 480px;
  padding: .75rem; }

.titulo-tarjeta {
  color: #ffce00;
  font-size: 1.5rem; }

/* Estilos para el dorso de la tarjeta */
.tarjeta-dorso {
  background-color: #fafbfa;
  transform: rotateY(180deg);
  height: 480px; }

.pagina-interna {
  background-color: #ffffff;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(184, 184, 184, 0.25);
  height: 100%;
  padding: 1rem;
  right: 0;
  transition: all 1s ease;
  width: 240px;
  z-index: 1; }
  .pagina-interna .titulo-pagina-interna {
    font-size: 1.2rem; }
  .pagina-interna .pagina-interna-texto {
    font-size: 0.9rem; }

.contenedor-pagina-interna {
  height: 100%;
  width: 100%; }

.card-menu:hover .contenedor-tarjeta-invertida {
  transform: rotateY(-100deg); }

/* MEDIA QUERIES MOBILE FIRST */
@media screen and (min-width: 768px) {
  /* INICIO */
  h1 {
    font-size: 3rem; }
  .card-menu:hover {
    box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
    cursor: pointer; }
  .card-menu:hover .contenedor-tarjeta-invertida {
    transform: rotateY(-120deg); }
  .card-menu:hover .pagina-interna {
    box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1); } }

@media screen and (min-width: 768px) and (min-width: 992px) {
  .card-pais {
    --bs-gutter-x: 4.5rem !important; } }

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3.5rem; }
  #menu-mundial {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "banner-menu banner-menu banner-menu" "linea-divisoria linea-divisoria linea-divisoria" "menu-paises menu-paises menu-paises"; } }

#main-servicios {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.2fr 1fr;
  grid-template-areas: "banner" "linea-divisoria" "servicios-tarjetas";
  column-gap: 10px;
  row-gap: 10px; }

/* ANIVERSARIO: INFO - CARRUSEL */
#banner-servicios {
  grid-area: banner; }

#linea-divisoria {
  grid-area: linea-divisoria; }

/* SERVICIOS */
#servicios-tarjetas {
  grid-area: servicios-tarjetas;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }

#banner-servicios .bg-banner-menu {
  background-image: url("../assets/img/servicios.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% center;
  height: 100vh; }

.servicio, .contenedor-tarjeta .tarjeta .informacion {
  width: 150px;
  height: 250px; }

.contenedor-tarjeta .tarjeta .servicio, .contenedor-tarjeta .tarjeta .informacion {
  background-color: #736681;
  box-shadow: inset 0rem 0rem 4.55rem 0rem #0d0d0d33;
  width: 300px;
  height: 30vh;
  transition: all 1s ease;
  border-radius: .5rem;
  padding: 2rem;
  z-index: 2; }

.contenedor-tarjeta .tarjeta .informacion {
  z-index: 0;
  background-color: #ffffff;
  border-radius: .5rem; }

.contenedor-tarjeta .tarjeta .servicio.slide-1, .contenedor-tarjeta .tarjeta .slide-1.informacion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  cursor: pointer;
  z-index: 1;
  transition: .7s ease 0s all; }

.contenedor-tarjeta .tarjeta:hover .informacion.slide-2 {
  transition: .8s;
  transform: translateY(-30px); }

.contenedor-tarjeta .tarjeta .icono-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .contenedor-tarjeta .tarjeta .icono-titulo img {
    width: 70px; }

.contenedor-tarjeta .tarjeta .informacion.slide-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .8s;
  transform: translateY(-218px);
  box-shadow: 0 20px 40px rgba(172, 172, 172, 0.4); }

@media screen and (min-width: 992px) {
  #main-servicios {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.2fr 0.5fr;
    grid-template-areas: "banner banner banner" "linea-divisoria linea-divisoria linea-divisoria" "servicios-tarjetas servicios-tarjetas servicios-tarjetas";
    column-gap: 10px;
    row-gap: 10px; }
  .contenedor-tarjeta .tarjeta .servicio, .contenedor-tarjeta .tarjeta .informacion {
    width: 350px;
    height: 25vh; }
  .contenedor-tarjeta .tarjeta .informacion.slide-2 {
    transform: translateY(-180px); } }

@media (min-width: 1366px) {
  .contenedor-tarjeta .tarjeta .servicio, .contenedor-tarjeta .tarjeta .informacion {
    width: 340px; }
    .contenedor-tarjeta .tarjeta .servicio h4, .contenedor-tarjeta .tarjeta .informacion h4 {
      font-size: -4rem; } }

@media (min-width: 1500px) {
  .contenedor-tarjeta .tarjeta .informacion.slide-2 {
    transform: translateY(-205px); } }

#main-eventos {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr repeat(3, 0.5fr);
  grid-template-areas: "video" "divisor" "aniversario" "graduaciones" "cumpleanios";
  column-gap: 10px;
  row-gap: 10px; }

.owl-carousel .item .eventos-cards {
  margin: 0;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: transparent;
  border: none; }
  .owl-carousel .item .eventos-cards .card-body .evento-graduacion img {
    transform: rotate(-7deg); }
  .owl-carousel .item .eventos-cards .contenedor-eventos img {
    transform: rotate(7deg); }

#banner-video {
  grid-area: video; }

/* ANIVERSARIO: INFO - CARRUSEL */
#seccion-aniversarios {
  grid-area: aniversario;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

/* GRADUACIONES: INFO - CARRUSEL */
#seccion-graduaciones {
  grid-area: graduaciones;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }

/* CUMPLEAÑOS: INFO - CARRUSEL */
#seccion-cumpleanios {
  grid-area: cumpleanios;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }

.eventos {
  background-color: #C1D9D0 !important;
  box-shadow: inset 0rem 0rem 4.55rem 0rem #00000055;
  padding: 2rem;
  border-radius: 1rem;
  width: 350px;
  height: 250px; }
  .eventos h1 {
    text-align: center; }

.evento-info h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

@media screen and (min-width: 768px) {
  #seccion-aniversarios .eventos {
    width: 450px; }
  #seccion-graduaciones .eventos {
    width: 450px; }
  #seccion-cumpleanios .eventos {
    width: 450px; } }

@media screen and (min-width: 992px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main main" "footer footer"; }
  #main-eventos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "video video" "divisor divisor" "aniversario aniversario" "graduaciones graduaciones" "cumpleanios cumpleanios"; }
  .evento-carrusel {
    width: 35%;
    text-align: center; }
  #seccion-aniversarios .eventos {
    width: 450px; }
  #seccion-graduaciones .eventos {
    width: 450px; }
  #seccion-cumpleanios .eventos {
    width: 450px; } }

#titulo-contacto h1 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 3px; }

.btn-enviar, .btn-enviar:hover {
  background-color: #141827;
  color: #ffffff !important;
  text-transform: uppercase;
  letter-spacing: 2px; }

.form-control, .form-control:focus {
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ffffff; }
  .form-control::placeholder, .form-control:focus::placeholder {
    color: #ffffff; }

.form-check-input:checked {
  background-color: #e9e9e9;
  border-color: #e9e9e9; }
  .form-check-input:checked:checked[type=radio] {
    background-image: url("../assets/img/radio-button.png"); }

#main-contacto {
  background-image: url("../assets/img/bg-contacto.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas: "titulo-contacto" "mapa-formulario"; }

#titulo-contacto {
  grid-area: titulo-contacto; }

#titulo-contacto {
  padding: 3rem 0;
  grid-area: titulo-contacto; }
  #titulo-contacto h1 {
    font-size: 2rem; }

#mapa-formulario {
  grid-area: mapa-formulario; }
  #mapa-formulario #formulario {
    background-color: rgba(67, 62, 62, 0.71);
    backdrop-filter: blur(4px);
    padding: 2.5rem 2rem; }

.contacto-info {
  background-color: #141827e8;
  color: #ffffff;
  width: 400px;
  height: 630px;
  padding: 3rem; }

@media screen and (min-width: 320px) {
  #titulo-contacto h1 {
    font-size: 2rem; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  #formulario {
    width: 80%; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  #formulario {
    width: 80%; } }

@media screen and (min-width: 992px) {
  #formulario {
    width: 400px;
    height: 630px; }
  #titulo-contacto h1 {
    font-size: 2.5rem; }
  #titulo-contacto .contacto-info h2 {
    font-size: 2rem; }
  #main-contacto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo-contacto titulo-contacto" "mapa-formulario mapa-formulario"; } }

@media screen and (min-width: 1336px) {
  #formulario {
    width: 30%; } }

html {
  scroll-behavior: smooth; }
  html body {
    background-color: #f1f1f1;
    position: relative;
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: "header" "main" "footer"; }

ul li {
  list-style-type: none; }

*::-webkit-scrollbar {
  width: 14px; }

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #141827 0%, #8f7ba3 100%);
  border-radius: 8px;
  border: 3px solid #ffffff; }

.underline {
  position: relative; }
  .underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    margin: 0 auto;
    background-color: #ffffff;
    transition: 0.8s cubic-bezier(0.2, 1, 0.5, 1); }

.underline:hover::before {
  left: 0;
  right: 0;
  width: 50%; }

.navbar-nav .nav-item .nav-link.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 35%;
  height: 1px;
  background-color: #ffffff;
  transition: 0.8s cubic-bezier(0.2, 1, 0.5, 1); }

.form-control:focus {
  border-color: none;
  box-shadow: none; }

.button-top {
  background-color: #141827 !important;
  right: 25px;
  bottom: 30px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 3px solid #ffd700; }

.button-top a img {
  width: 35px; }

h1 {
  font-size: 2.5rem;
  text-align: center; }

h2 {
  font-size: 1.9rem; }

.centrado {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.owl-carousel {
  display: grid !important; }

.owl-theme .owl-dots .owl-dot span {
  background: #7366817d;
  width: 30px;
  height: 4px;
  border-radius: 0; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots:hover span {
  background: #62455B;
  width: 30px;
  height: 4px;
  border-radius: 0; }

/* IMAGENES E ÍCONOS */
.icono {
  width: 20px; }

.icono-redes {
  width: 30px; }

.linea-divisora {
  text-align: center; }

/* BOTONES */
.btn {
  width: 150px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer; }

.btn a {
  color: #ffffff !important; }

#btn-info:hover {
  background: #736681 !important;
  cursor: pointer;
  transition: all 0.5s 0s linear; }

.seccion {
  margin: 5rem auto; }

.titulo-banner, .titulo-banner-video {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh; }

.titulo-banner-video {
  background-color: rgba(0, 0, 0, 0.4); }

.sitemap {
  height: 70vh; }

@media screen and (min-width: 992px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main main" "footer footer"; }
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%; }
  h1 {
    font-size: 3rem;
    text-align: center; }
  .button-top {
    width: 70px;
    height: 70px; }
  .navbar-nav .nav-item .nav-link.active::before {
    width: 100%; } }
