@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* ESTILOS GENERALES */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

/* ESTILOS BOOTSTRAP */
.bg-dark {
    background-color: #141827 !important;
}

.navbar-toggler-icon {
    background-image: url("../assets/img/icono-menu.png") !important;
}

a.nav-link {
    letter-spacing: 1px;
}

a:active,
a:hover {
    text-decoration: none !important;
}

a.nav-link:hover {
    font-weight: 900;
}

#pills-tab li button {
    color: #141827;
}

.nav-pills .nav-link.active {
    background-color: #62455B !important;
    border-radius: 10px !important;
    color: #ffffff !important;
}

/* ESTILOS OWL CAROUSEL */
.owl-carousel {
    display: block !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: #7366817d;
    width: 30px;
    height: 4px;
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #62455B;
    width: 30px;
    height: 4px;
    border-radius: 0;
}

/* ESTILOS GENERALES */

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #141827 0%, #8f7ba3 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;

}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.9rem;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}


.centrado {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* IMAGENES E ÍCONOS */

.logo-header {
    width: 115px;
    height: 115px;
    border-radius: 100px;
}

.logo-footer {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.servicios article img {
    width: 100px;
}

.reseñas img {
    width: 100px;
    border-radius: 50%;
}

.calificacion img {
    width: 20px;
}

.icono {
    width: 20px;
}

.icono-redes {
    width: 30px;
}

.linea-divisora {
    text-align: center;
}

/* VIDEO */
video {
    width: 100%;
}

/* BOTONES */
.btn {
    width: 150px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.btn a {
    color: #ffffff !important;
}

.btn-enviar {
    background-color: #62455B !important;
    color: #ffffff !important;
    background: linear-gradient(-68deg, #564152d6, #b9a4d0c7);
}

#btn-info:hover {
    background: #736681 !important;
    cursor: pointer;
    transition: all 0.5s 0s linear;
}



/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 2;
}

/* MENÚ DE NAVEGACIÓN */
.menu-nav {
    text-align: center;
}

.menu-nav .lista-nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem;
}

.menu-nav .lista-nav li a {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

/* FOOTER */
footer {
    background-color: #141827;
}

.derechos-autor {
    border-top: 1px solid #ffffff;
    text-align: center;
}

.derechos-autor p {
    margin: 1rem 0;
    font-size: .9rem;
}

/*********************** PÁGINAS (INDEX E INTERNAS) ********************/
/* INDEX */
.seccion {
    margin: 5rem auto;
}

/* SECCIÓN NOSOTROS */
#nosotros {
    background-image: url('../assets/img/banner-nosotros.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

.contenedor-titulo {
    background-color: #62455B;
    width: 30vw;
    top: 30px;
    left: 0;
}

.historia {
    background-color: #0f10175c;
    backdrop-filter: blur(5px);
    width: 65vw;
    padding: 5rem;
}

/* SECCIÓN SERVICIOS */
#seccion-servicios {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

#header-servicios {
    grid-area: header;
}

#main-servicios {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 0.1fr 0.1fr repeat(3, 0.5fr);
    grid-template-areas:
        "banner banner"
        "linea linea"
        "titulo-servicios titulo-servicios"
        "takeaway takeaway"
        "delivery delivery"
        "reservas reservas";
}

#linea-divisoria {
    grid-area: linea;
    flex-wrap: wrap;
}

#titulo-servicios {
    grid-area: takeaway;
    flex-wrap: wrap;
}

#take-away {
    grid-area: takeaway;
    flex-wrap: wrap;
}

#delivery {
    grid-area: delivery;
    flex-wrap: wrap;
}

#reservas {
    grid-area: reservas;
}

#banner-servicios {
    grid-area: banner;
}

#footer-servicios {
    grid-area: footer;
}

#servicios {
    background-color: #C1D9D0;
    padding: 2rem;
}

#servicios h2 {
    font-size: 2.5rem;
    color: #141827;
}

#servicios article {
    display: inline-block;
    width: 25%;
    margin: 2rem 1rem;
    padding: 4rem;
    border-radius: 1rem;
    color: #141827;
}

#servicios article img {
    margin-bottom: 1rem;
    width: 120px;
}

#servicios article h4 {
    text-transform: uppercase;
    text-align: center;
}

/* SECCIÓN RESEÑAS */
#reseñas {
    width: 100%;
    text-align: center;
}

#reseñas h2 {
    margin-bottom: 2rem;
}

.owl-carousel .item .card {
    margin: 2rem;
    padding: 2rem;
    background-color: #736681;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    color: #ffffff;
}

.clientes {
    margin: 1.5rem auto;
}

.clientes img {
    border-radius: 50%;
    width: 120px !important;
}

.valoracion {
    margin-bottom: 1rem;
}

.valoracion img {
    width: 30px !important;
}

/*************************************************/
/* PÁGINA - MENÚ MUNDIAL*/

#banner-menu > .bg-menu {
    background-image: url('../assets/img/banner-menu.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 70px);
}

.titulo-banner {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#menu-mundial {
    margin: 2rem auto 5rem;
}

.menu-paises div a {
    color: #ffffff;
}

.bandera {
    top: -25px;
    left: -50px;
}

.bandera img {
    width: 150px;
}

/**************************************************/
/* PÁGINA - SERVICIOS */
#banner-servicios > .bg-banner-menu {
    background-image: url('../assets/img/servicios.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#seccion-servicios section {
    text-align: center;
}

.info-servicios {
    background-color: #736681;
    width: 30vw;
    height: 30vh;
    border-radius: 1rem;
    padding: 2rem;
    transition: transform .5s;
}

.info-servicios:hover {
    transform: scale(1.1);
}

.servicios h4 {
    text-align: center;
}

.servicios img {
    width: 70px;
}

.menu-paises {
    margin: 0 !important;
}

.platos {
    background-color: rgb(115 102 129 / 45%);
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%);
}

/**************************************************/
/* PÁGINA - EVENTOS */
#layout-grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

#header-eventos {
    grid-area: header;
}

#main-eventos {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.2fr repeat(3, 0.2fr);
    grid-template-areas:
        "video video"
        "divisor divisor"
        "aniversario aniversario"
        "graduaciones graduaciones"
        "cumpleanios cumpleanios";
    column-gap: 10px;
    row-gap: 10px;
}

.video video {
    object-fit: cover;
}

#footer-eventos {
    grid-area: footer;
}

#banner-video {
    grid-area: video;
}

#divisor {
    grid-area: divisor;
}

.owl-carousel .item .eventos-cards {
    margin: 0rem;
    padding: 0rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ffffff;
}

.evento-graduacion img {
    transform: rotate(-7deg);
}

.contenedor-eventos > img {
    transform: rotate(7deg);
}

/* ANIVERSARIO: INFO - CARRUSEL */

#seccion-aniversarios {
    grid-area: aniversario;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* GRADUACIONES: INFO - CARRUSEL */
#seccion-graduaciones {
    grid-area: graduaciones;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* CUMPLEAÑOS: INFO - CARRUSEL */
#seccion-cumpleanios {
    grid-area: cumpleanios;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.eventos {
    background-color: #736681cf;
    padding: 2rem;
    border-radius: 1rem;
    width: 30vw;
    height: 30vh;
}

.eventos h1 {
    text-align: center;
}

.evento-info h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.evento-carrusel {
    width: 30%;
    text-align: center;
}

.evento-carrusel .cuadrado {
    width: 120px;
}

/*************************************************/
/* PÁGINA - CONTACTO */
#seccion-contacto {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    column-gap: 2px;
}

#header-contacto {
    grid-area: header;
}

#main-contacto {
    grid-area: main;
    background-image: url('../assets/img/bg-contacto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#footer {
    grid-area: footer;
}

.seccion #titulo-contacto {
    padding: 3rem 0;
}

#mapa {
    padding: 0 2rem;
    grid-area: mapa;
    width: 35vw;
}

iframe {
    width: 100%;
}

#formulario {
    background-color: #736681b5;
    backdrop-filter: blur(4px);
    padding: 2.5rem 2rem;
    border-radius: 1rem;
    width: 25vw;
}

/********************** MEDIA QUERIES   *******************************/

@media (max-width: 992px) {
    .logo-header {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {

    /* INICIO */
    .historia {
        padding: 3rem;
    }

    /* INTERNA CONTACTO */
    #mapa {
        padding: 0;
    }

    #mapa, #formulario {
        width: 80vw;
    }

}

@media (max-width: 576px) {

    /* INICIO */

    .historia {
        padding: 2rem;
    }

    /* PÁGINA EVENTOS */
    #seccion-aniversarios {
        flex-wrap: wrap;
    }


}