// ESTILOS FOOTER
footer {
    background-color: $black !important;
}

#footer-contacto {
    width: $ancho-100;
    grid-area: footer;
}
// LOGO FOOTER
.logo-footer {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.derechos-autor {
    border-top: 1px solid $white !important;
    text-align: $centro;
        p {
        margin: 1rem 0;
        font-size: .9rem;
    }
}