// HEADER
header {
    width: $ancho-100;
    position: $sticky;
    top: 0;
    z-index: 2;
    grid-area: header;
    .bg-dark {
        background-color: $black !important;
    } 
}


/* MENÚ DE NAVEGACIÓN */
.menu-nav {
    text-align: center;
}

.menu-nav {
    .lista-nav {
        li {
            a {
                color: $white;
                text-align: $centro;
                text-transform: $mayuscula;
            }   
        }
    }
}

// NAVBAR

.navbar-collapse {
    ul {
        li.nav-item {
            list-style-type: none;
            letter-spacing: 1px;
            a {
                text-decoration: none;
                letter-spacing: 1px;
            } &:hover, &:active {
                text-decoration: none !important;
            }
        }
    }
}

// BUTTON (HAMBURGER MENU)

button {
    .navbar-toggler-icon {
        background-image: url("../assets/img/icono-menu.png") !important;
    }
}

// LOGO HEADER
.logo-header {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

@media screen and (min-width: 768px) {
    .logo-header {
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-width: 992px) {
    .logo-header {
        width: 125px;
        height: 125px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {

    .navbar-collapse 
        ul {
            li.nav-item {
                a {
                    letter-spacing: 0px !important;
                }
            }
        } 

}
