// COLORES
$black: #141827;
$white: #ffffff;
$lila: #736681;
$violet-dark: #62455B;
$green-light: #C1D9D0;
$gold: #ffd700;
$bg-video: rgba(0, 0, 0, 0.4);
$bg-portada: rgba(0, 0, 0, 0.25);

// MEDIDAS
$ancho-100: 100%;
$alto-100: 100vh;

// FUENTES
$letter-spacing-3: 3px;
$mayuscula: uppercase;

// POSICIONAMIENTO
$relativo: relative;
$absoluto: absolute;
$fijo: fixed;
$sticky: sticky;

// GENERALES

$centro: center;