@import "./variables";
@import "./condicionales";
@import "./bucles";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import "./header";
@import "./footer";
@import "./inicio/inicio";
@import "./menu-mundial/menu-mundial";
@import "./servicios/servicios";
@import "./eventos/eventos";
@import "./contacto/contacto";

// ESTILOS GENERALES
html {
    scroll-behavior: smooth;
    body {
        background-color: #f1f1f1;
        position: $relativo;
        font-family: 'Montserrat', sans-serif !important;
        width: $ancho-100;
        height: $alto-100;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr 0.5fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

// SCROLLBAR

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, $black 0%, #8f7ba3 100%);
    border-radius: 8px;
    border: 3px solid $white;

}

// BOTÓN (IR ARRIBA)
.button-top {
    background-color: $black;
    right: 25px;
    bottom: 30px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 3px solid $gold;
}

.button-top {
    a {
        img {
            width: 35px;
        } 
    }
}

// TÍTULOS

h1 {
    font-size: 2.5rem;
    text-align: $centro;
}

h2 {
    font-size: 1.9rem;
}

// HERO IMAGE
.centrado {
    position: $absoluto;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

// OWL CARRUSEL

.owl-carousel {
    display: grid !important;
}

.owl-theme {
    .owl-dots {
        .owl-dot {
            span {
                background: #7366817d;
                width: 30px;
                height: 4px;
                border-radius: 0;
            }
        }
    }
}

.owl-theme {
    .owl-dots {
        .owl-dot.active, &:hover {
                span {
                    background: $violet-dark;
                    width: 30px;
                    height: 4px;
                    border-radius: 0;
                }  
        }
    }
}

/* IMAGENES E ÍCONOS */

.icono {
    width: 20px;
}

.icono-redes {
    width: 30px;
}

.linea-divisora {
    text-align: $centro;
}

/* BOTONES */
.btn {
    width: 150px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.btn {
    a {
        color: $white !important;
    }
}

#btn-info:hover {
    background: $lila !important;
    cursor: pointer;
    transition: all 0.5s 0s linear;
}

.seccion {
    margin: 5rem auto;
}

.titulo-banner {
    background-color: $bg-portada;
    width: $ancho-100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* height: calc(100vh - 70px); */
    max-height: 100vh;
}

.titulo-banner-video {
    @extend .titulo-banner;
        background-color: $bg-video;
    }


// SITEMAP
.sitemap {
    height: 70vh;
}


// MEDIA QUERIES

@media screen and (min-width: 992px) {
    body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }

    h1 {
        font-size: 3rem;
        text-align: $centro;
    }
}