// ESTILOS MAIN (INDEX)

#main-inicio {
        width: $ancho-100;
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.2fr 0.5fr 0.2fr 0.2fr 1fr;
        grid-template-areas: 
        "video"
        "divisor"
        "nosotros"
        "servicios"
        "divisor2"
        "carrusel"
        ;
}

/* ARMADO DE GRID PARA EL MAIN */

#video {
    width: $ancho-100;
    grid-area: video;
}

#divisor {
    width: $ancho-100;
    grid-area: divisor;
}

#nosotros {
    width: $ancho-100;
    grid-area: nosotros;
}

#servicios {
    width: $ancho-100;
    grid-area: servicios;
}

#divisor-2 {
    width: $ancho-100;
    grid-area: divisor2;
}

#carrusel {
    grid-area: carrusel;
}

/* IMAGENES E ÍCONOS */
.servicios {
    article {
        img {
            width: 100px;
        }
    }
}

.carrusel {
    img {
        width: 100px;
        border-radius: 50%;
    }
}

.calificacion {
    img {
        width: 20px;
    }
}

/* VIDEO */

.video {
    height: calc(100vh - 70px);
}

.video {
    video {
        width: $ancho-100;
        z-index: -1;
        height: calc(100vh - 70px);
        object-fit: cover;
    }
}

/********** PÁGINAS (INICIO E INTERNAS) ********/
// SECCIÓN NOSOTROS
#nosotros {
    background-image: url('../assets/img/banner-nosotros.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

// SECCIÓN SERVICIOS
#servicios {
    background-color: $green-light;
    padding: 2rem;
}

.icono-servicio {
    width: 65px;
}

.contenedor-titulo {
    background-color: $violet-dark;
    width: 300px;
    top: 30px;
    left: 0;
    padding: 0.5rem 0;
    border-bottom-right-radius: 1rem;
}

.historia {
    background-color: #0f10175c;
    backdrop-filter: blur(20px);
}

// SECCIÓN RESEÑAS (CARRUSEL)
#carrusel {
    width: $ancho-100;
    text-align: $centro;
}

#carrusel {
    h2 {
        margin-bottom: 2rem;
    }
}

.clientes {
    margin: 0.5rem auto;
        img {
            border-radius: 50%;
            width: 120px !important;
        }
}

.card-body {
    .valoracion {
        margin-bottom: 1rem;
        img {
            width: 30px !important;
        }
    }  
}

// MEDIA QUERIES

@media screen and (min-width: 992px) {

    #main-inicio {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "video video video"
        "divisor divisor divisor"
        "nosotros nosotros nosotros"
        "servicios servicios servicios"
        "divisor2 divisor2 divisor2"
        "carrusel carrusel carrusel"
        ;
}

#nosotros {
        #historia-resto {
            padding: 2.5rem;
            font-size: 1rem;
            width: 65%;
        }
    }

}

@media screen and (min-width: 1024px) {
    #nosotros {
        #historia-resto {
            padding: 1.8rem;
            font-size: 1rem;
            width: 70%;
        }
}
}
