// ESTILOS MAIN (SERVICIOS)
#main-servicios {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.2fr 1fr;
    grid-template-areas:
        "banner"
        "linea-divisoria"
        "servicios-tarjetas";
    column-gap: 10px;
    row-gap: 10px;
}


/* ANIVERSARIO: INFO - CARRUSEL */

#banner-servicios {
    grid-area: banner;
}

#linea-divisoria {
    grid-area: linea-divisoria;
}

/* SERVICIOS */
#servicios-tarjetas {
    grid-area: servicios-tarjetas;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


#banner-servicios  {
    .bg-banner-menu {
        background-image: url('../assets/img/servicios.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60% $centro;
        height: $alto-100;
    }
}

.servicio {
    width: 150px;
    height: 250px;
}

// TARJETAS
.contenedor-tarjeta  {
    .tarjeta {
        .servicio {
            background-color: $lila;
            box-shadow: inset 0rem 0rem 4.55rem 0rem #0d0d0d33;
            width: 300px;
            height: 30vh;
            transition: all 1s ease;
            border-radius: .5rem;
            padding: 2rem;
            z-index: 2;
        }
        .informacion {
            @extend .servicio;
                z-index: 0;
                background-color: $white;
                border-radius: .5rem;
            }
        }
}

.contenedor-tarjeta  {
    .tarjeta {
        // height: 100px;
        .servicio.slide-1 {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .5rem;
            cursor: pointer;
            z-index: 1;
            transition: .7s ease 0s all;
            
        }
    }
}

.contenedor-tarjeta  {
    .tarjeta:hover {
        .informacion.slide-2 {
            transition: .8s;
            transform: translateY(-30px);
            
        }
    }
}

.contenedor-tarjeta  {
    .tarjeta {
        .icono-titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            img {
                width: 100px - 30px;
            }
        }
    }
}

// TARJETA CONTENIDO
.contenedor-tarjeta  {
    .tarjeta {
        .informacion.slide-2 {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            transition: .8s;
            transform: translateY(-218px);
            box-shadow: 0 20px 40px rgba(172, 172, 172, 0.4);
        }
    }
}


// MEDIA QUERIES

@media screen and (min-width: 992px) {
    #main-servicios {
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 0.2fr 0.5fr;
        grid-template-areas:
            "banner banner banner"
            "linea-divisoria linea-divisoria linea-divisoria"
            "servicios-tarjetas servicios-tarjetas servicios-tarjetas";
        column-gap: 10px;
        row-gap: 10px;
    }

    .contenedor-tarjeta  {
        .tarjeta {
            .servicio {
                width: 350px;
                height: 25vh;
            }
        }
    }


    .contenedor-tarjeta  {
        .tarjeta {
            .informacion.slide-2 {
                transform: translateY(-180px);
            }
        }
    }
}

@media (min-width: 1366px) {
    .contenedor-tarjeta  {
        .tarjeta {
            .servicio {
                width: 340px;
                h4 {
                    font-size: 1rem - 5rem;
                }
            }
        }
    }

}

@media (min-width: 1500px) {
    .contenedor-tarjeta  {
        .tarjeta {
            .informacion.slide-2 {
                transform: translateY(-205px);
            }
        }
    }
}