// ESTILOS MAIN (CONTACTO)
#titulo-contacto {
        h1 {
            font-size: 2.5rem;
            text-align: $centro;
            letter-spacing: $letter-spacing-3;
        }
}
// BOTÓN FORMULARIO
.btn-enviar {
    background-color: $violet-dark !important;
    color: $white !important;
    background: linear-gradient(-68deg, #564152d6, #b9a4d0c7);
    text-transform: $mayuscula;
    letter-spacing:2px;
}

#main-contacto {
    background-image: url('../assets/img/bg-contacto.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas:
    "titulo-contacto"
    "mapa-formulario";
}

#titulo-contacto {
    grid-area: titulo-contacto;
}

.seccion #titulo-contacto {
    padding: 3rem 0;
        #titulo-contacto {
        grid-area: titulo-contacto;
        h1 {
            font-size: 2rem;
        }
    }
}

#mapa-formulario {
    grid-area: mapa-formulario;
    #mapa {
        display: flex;
        order: 2;
        padding: 0 .5rem;
    }
    iframe {
        width: 100%;
    }
    #formulario {
        background-color: #736681b5;
        backdrop-filter: blur(4px);
        padding: 2.5rem 2rem;
        border-radius: 1rem;
    }
}

// MEDIA QUERIES

@media screen and (min-width: 320px) {
    #titulo-contacto {
        h1 {
            font-size: 2rem;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    #formulario {
        width: 80%;
    }

    #mapa {
        width: 85%;
    }
}

@media screen and (min-width: 992px) {
    #formulario {
        width: 40%;
    }

    #mapa {
        width: 40%;
    }

    #titulo-contacto {
        h1 {
            font-size: 2.5rem;
        }
    }

    #main-contacto {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "titulo-contacto titulo-contacto"
        "mapa-formulario mapa-formulario";
    }
}

@media screen and (min-width: 1336px) {
    #formulario {
        width: 30%;
    }

    #mapa {
        width: 30%;
    }
}
