// ESTILOS MAIN (CONTACTO)
#titulo-contacto {
        h1 {
            font-size: 2.5rem;
            text-align: $centro;
            letter-spacing: $letter-spacing-3;
        }
}
// BOTÓN FORMULARIO
.btn-enviar {
    background-color: $black;
    color: $white !important;
    text-transform: $mayuscula;
    letter-spacing: 2px;
    &:hover {
        @extend .btn-enviar;   
    }
}

// ESTILOS (FORMULARIO)
.form-control {
    color: $white;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $white;
    &::placeholder {
        color: $white;
    }
    &:focus {
        @extend .form-control;
    }
}

.form-check-input:checked {
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    &:checked[type=radio] {
        background-image: url('../assets/img/radio-button.png');
    }
}

#main-contacto {
    background-image: url('../assets/img/bg-contacto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas:
    "titulo-contacto"
    "mapa-formulario";
}

#titulo-contacto {
    grid-area: titulo-contacto;
}

#titulo-contacto {
    padding: 3rem 0;
    grid-area: titulo-contacto;
        h1 {
            font-size: 2rem;
        }
}

#mapa-formulario {
    grid-area: mapa-formulario;
    #formulario {
        background-color: rgba(67, 62, 62, .71);
        backdrop-filter: blur(4px);
        padding: 2.5rem 2rem;
    }
}

.contacto-info {
    background-color: #141827e8;
    color: $white;
    width: 400px;
    height: 630px;
    padding: 3rem;
}

// MEDIA QUERIES

@media screen and (min-width: 320px) {
    #titulo-contacto {
        h1 {
            font-size: 2rem;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    #formulario {
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #formulario {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    #formulario {
        width: 400px;
        height: 630px;
    }

    #titulo-contacto {
        h1 {
            font-size: 2.5rem;
        }

        .contacto-info {
            h2 {
                font-size: 2rem;
            }
        }
    }

    #main-contacto {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "titulo-contacto titulo-contacto"
        "mapa-formulario mapa-formulario";
    }
}

@media screen and (min-width: 1336px) {
    #formulario {
        width: 30%;
    }
}
